.headline1 {
  font-size: 93px;
}

.headline2 {
  font-size: 58px;
}

.headline3 {
  font-size: 47px;
}

.headline4 {
  font-size: 33px;
}

.headline5 {
  font-size: 23px;
}

.headline6 {
  font-size: 19px;
}

.body1 {
  font-size: 16px;
}

.body2 {
  font-size: 14px;
}

.subtitle1 {
  font-size: 16px;
}

.subtitle2 {
  font-size: 14px;
}

.button {
  font-size: 14px;
}

.overline {
  font-size: 10px;
}

.caption {
  font-size: 12px;
}
